attributes:
  metadata:
    restrictions:
        - condition: "cluster:net_provider != 'neutron'"
          action: "hide"

  environment_label:
    value: ''
    label: 'Environment label'
    description: 'Optional string to tag the data.'
    weight: 10
    type: "text"

  elasticsearch_mode:
    type: "radio"
    weight: 20
    value: "local"
    label: "Events analytics (logs and notifications)"
    values:
      - data: "disabled"
        label: "Disabled"
      - data: "local"
        label: "Local node"
      - data: "remote"
        label: "Remote server"
    restrictions: &all_disabled_msg
      - condition: "settings:lma_collector.elasticsearch_mode.value == 'disabled' and settings:lma_collector.influxdb_mode.value == 'disabled'"
        action: "none"
        message: "Please enable Events or Metrics analytics or both"

  elasticsearch_address:
    value: ''
    label: 'Elasticsearch address'
    description: 'IP address or fully qualified domain name of the Elasticsearch server.'
    weight: 40
    type: "text"
    restrictions:
        - condition: "settings:lma_collector.elasticsearch_mode.value != 'remote'"
          action: "disable"
    regex: &node_address_regex
      source: '^[a-zA-Z\d][a-zA-Z\d_\-.]+$'
      error: "Invalid address or name"

  influxdb_mode:
    type: "radio"
    weight: 60
    value: "local"
    label: "Metrics analytics"
    values:
      - data: "disabled"
        label: "Disabled"
      - data: "local"
        label: "Local node"
      - data: "remote"
        label: "Remote server"
    restrictions: *all_disabled_msg

  influxdb_address:
    value: ''
    label: 'InfluxDB address'
    description: 'IP address or fully qualified domain name of the InfluxDB server.'
    weight: 70
    type: "text"
    regex: *node_address_regex
    restrictions:
        - condition: "settings:lma_collector.influxdb_mode.value != 'remote'"
          action: "disable"

  influxdb_database:
    value: 'lma'
    label: 'InfluxDB database name'
    description: ''
    weight: 75
    type: "text"
    regex: &not_empty_parameter
      source: '\S'
      error: "Invalid value"
    restrictions: &disable_influxdb_parameters
        - condition: "settings:lma_collector.influxdb_mode.value != 'remote'"
          action: "disable"

  influxdb_user:
    value: 'lma'
    label: 'InfluxDB user'
    description: ''
    weight: 80
    type: "text"
    regex: *not_empty_parameter
    restrictions: *disable_influxdb_parameters

  influxdb_password:
    value: 'lmapass'
    label: 'InfluxDB password'
    description: ''
    weight: 85
    type: "password"
    regex: *not_empty_parameter
    restrictions: *disable_influxdb_parameters

  influxdb_legacy:
    value: true
    label: 'Use InfluxDB version 0.8'
    weight: 90
    type: "checkbox"
    restrictions:
        - condition: "true"
          action: "hide"

  nagios_mode:
    type: "radio"
    weight: 90
    value: "local"
    label: "Alerting"
    values:
      - data: "disabled"
        label: "Disabled"
      - data: "local"
        label: "Local node"
      - data: "remote"
        label: "Remote server"
    restrictions: *all_disabled_msg

  nagios_url:
    value: ''
    label: 'Nagios URL'
    description: 'ie: http://<server>/nagios3/cgi-bin/cmd.cgi'
    weight: 100
    type: "text"
    regex: &node_url_regex
      source: '^(http(s?):\/\/)?(((www\.)?+[a-zA-Z0-9\.\-\_]+(\.[a-zA-Z]{2,6}){0,})|(\b(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\b))(\/[a-zA-Z0-9\_\-\s\.\/\?\%\#\&\=]*)?$'
      error: "Invalid URL"
    restrictions: &not_remote
        - condition: "settings:lma_collector.nagios_mode.value != 'remote'"
          action: "disable"

  nagios_user:
    value: 'nagiosadmin'
    label: 'Nagios user'
    description: ''
    weight: 105
    type: "text"
    regex: *not_empty_parameter
    restrictions: *not_remote

  nagios_password:
    value: ''
    label: 'Nagios password'
    description: ''
    weight: 110
    type: "password"
    regex: *not_empty_parameter
    restrictions: *not_remote
